<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <header class="d-flex p-2">
    <%= link_to root_path, class: 'w-4 h-4' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"       stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
     </svg>
     <% end %>

    <h1 class="font-bold">CATEGORIES</h1>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "button btn text-light" %>
  </header>
  <div class="d-flex justify-between items-center">
    <h1 class="font-bold text-4xl my-4">Categories</h1>
    <% if @groups.empty? %>
      <p class="text-gray-500 my-2">You have no categories yet</p>
    <% else %>
      <p class="text-gray-500">You have <%= @groups.count %> categories</p>
      <div class="bg-white mx-auto">
       <% @groups.each do |group| %>
        <div class="bg-white border rounded-lg shadow-md my-4 mx-auto my-hover: bg-gray-700">
         <%= link_to group_path(group), class: 'no-underline' do %>
           <img src="<%= group.icon %>" alt="icon" class="w-4 h-4" />
            <h1 class="font-bold text-2xl"><%= group.name %></h1>
            <div>
            <div>
              <% total = 0.00 %>
              <% group.group_categories.each {|group_categories| total += group_categories.category.amount} %>
              <span class="amount">$<%= total %></span>
            </div>
            <div class="bg-white border rounded-lg shadow-md my-4 mx-auto my-hover: bg-gray-700">
        <% end %>
      <% end %>
      </div>
    <% end %>
    <%= link_to 'Add New Category', new_group_path, class: " btn rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
</div>
