<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto mt-4">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @group %>
    <%= link_to 'Edit this category', edit_group_path(@group), class: " btn text-white mt-2 rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Delete this category', group_path(@group), method: :delete, class: "btn text-white mt-2 rounded-lg py-3 px-5 bg-blue-600 font-medium" %>
    </div>
    <%= link_to 'Back to categories', groups_path, class: "btn text-white ml-2 rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium" %>
    <%= link_to 'Add New Transaction', new_category_path(@group), class: " btn text-white ml-2 mt-3 rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium" %>

    <% if @group_categories.empty? %>
    <h2 class="font-bold p-4 m-4">There are no transactions</h2>
    <% else %>
      <h4 class="p-2">Sum Total: $<%= @total %></h4>
      <div class="my-4 trs mx-auto p-4">
        <% @group_categories.each do |group_category| %>
          <div class="flex items-center rounded-lg bg-white my-2 p-2">
             <div class="p-2 mt-3 flex items center">
                <h2 class="p-2 mb-2 font-bold"><%= group_category.category.name %></h2>
                <div class="p-2 w-10 h-10">
                 <%= image_tag "transaction-icon-16.jpg", class: "img-t" %>
                </div>
             </div>
            <span class="p-2 mt-3">Amount: $<%= group_category.category.amount %></span>
            <span class="p-2 mt-3">Time: <%= group_category.category.created_at %></span>
            <span class="p-2 mt-3"><%= button_to "Delete", method: :elim, class:" rounded-lg del" %></span>
          </div>
          <br>
      <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
